.name {
    font-size: 24px;
}

.type {
    font-size: 16px;
}

.img-fluid {
    max-height: inherit;
    padding-bottom: 20px;
}

.card-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.admin {
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    padding: 5px;
    height: 30px;
    width: 100px;
    padding-bottom: 0;
}