<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Edit Vehicle Details
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-success" *ngIf="vehicleEdited else editvehicle">vehicle details edited successfully !!
            </div>
            <ng-template #editvehicle>
                <form [formGroup]="editForm" (submit)="onSubmit()" class="justify-content-center">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <img [src]="editForm.get('imageUrl').value" class="img-fluid">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="imageUrl">Image Url</label>
                                        <input type="text" id="imageUrl" class="form-control" formControlName="imageUrl">
                                        <span class="validation-error" *ngIf="editForm.get('imageUrl').touched && !editForm.get('imageUrl').valid">
                                                        ImageUrl cannot be empty</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" id="name" class="form-control" formControlName="name">
                                        <span class="validation-error" *ngIf="editForm.get('name').touched && editForm.get('name').hasError('required')">Name cannot be empty</span>
                                        <span class="validation-error" *ngIf="editForm.get('name').touched && editForm.get('name').hasError('pattern')">Only alphabets, numbers and - allowed</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-7 col-sm-7 col-7">
                                    <div class="form-group">
                                        <label for="number">Vehicle Number</label>
                                        <input type="text" id="number" (input)="userTaken()" class="form-control" formControlName="number">
                                        <span class="validation-error" *ngIf="!userNameTaken && !editForm.get('number').hasError('required')">Number already used.</span>
                                        <span class=" validation-success " *ngIf="userNameTaken && !editForm.get('number').hasError('required')">Number available.</span>

                                    </div>
                                </div>
                                <div class="col-lg-3  col-md-5 col-sm-5 col-5">
                                    <div class="form-group">
                                        <label for="type">Type</label>
                                        <select id="type" class="form-control" formControlName="type">
                                            <option value="diesel">Diesel</option>
                                            <option value="petrol">Petrol</option>
                                            <option value="battery">Battery</option>
                                        </select>
                                        <span class="validation-error" *ngIf="editForm.get('type').touched && editForm.get('type').hasError('required')">Vehicle Type cannot be empty</span>
                                        <span class="validation-error" *ngIf="editForm.get('type').touched && editForm.get('type').hasError('pattern')">Only alphabets, numbers and - allowed</span>

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="price">Price per day</label>
                                        <input type="number" id="price" class="form-control" formControlName="price">
                                        <span class="validation-error" *ngIf="editForm.get('price').touched && !editForm.get('price').valid">Price
                                        should be between 1-10000</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="serviceDueDate">Service Due Date</label>
                                        <input type="date" id="serviceDueDate" [min]="today" class="form-control" formControlName="serviceDueDate">
                                        <span class="validation-error" *ngIf="editForm.get('serviceDueDate').touched && !editForm.get('serviceDueDate').valid">Vehicle
                                                    Field cannot be empty</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="insuranceExpiryDate">Insurance Expiry Date</label>
                                        <input type="date" id="insuranceExpiryDate" [min]="today" class="form-control" formControlName="insuranceExpiryDate">
                                        <span class="validation-error" *ngIf="editForm.get('insuranceExpiryDate').touched && !editForm.get('insuranceExpiryDate').valid">Vehicle
                                                    Field cannot be empty</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="lastServiceDate">Last Service Date</label>
                                        <input type="date" id="lastServiceDate" [max]="today" class="form-control" formControlName="lastServiceDate">
                                        <span class="validation-error" *ngIf="editForm.get('lastServiceDate').touched && !editForm.get('lastServiceDate').valid">
                                            Field cannot be empty</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">


                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group ">
                                        <button class="btn btn-primary" [disabled]="!editForm.valid || !userNameTaken">Save Vehicle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </ng-template>
        </div>
    </div>
</div>